@model ChartModel

@{
    ViewBag.Title = "Doctor Appointments Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor Appointments</h2>

<canvas id="doctorAppointmentsChart" style="width:100%; height:500px"></canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @Scripts.Render("https://cdn.jsdelivr.net/npm/chart.js")
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script>
        var labels = @Html.Raw(Json.Encode(Model.Labels));
        var datasetModel = @Html.Raw(Json.Encode(Model.Datasets));

        // Transform datasetModel to meet the desired format
        var transformedData = datasetModel.map(function (item) {
            return {
                label: item.Label,
                data: item.Data,
                xAxesName: "x",
                yAxesName: "y"


            };
        });
        var ctx = document.getElementById('doctorAppointmentsChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: transformedData,
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Doctor Appointment Changes in Recent One Month',
                    },
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Appointment Count'
                        },
                        min: 0,
                        ticks: {
                            // forces step size to be 50 units
                            stepSize: 1
                        }
                    }
                }
            },

            

        });
    </script>
}
