@model CareTakerCT.Models.ApplicationUser

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var doctorId = ViewBag.DoctorId;
}

<main class="container">
    <div class="row">
        <div class="col">
            <p class="my-4">
                <a class="btn btn-outline-dark" href="/Appointments/Create">Book a New Appointment</a>
            </p>
            <div id="calendar"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.ActionLink("Back to List", "Contact", "Home", new { @class = "btn btn-secondary mt-3" })
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/calendar")
    @Scripts.Render("~/Scripts/calendar.js")

    <script>
        console.log("Hello clinic details");
        $(document).ready(function () {
            var appointments = [];

            $.ajax({
                type: "GET",
                url: "/Appointments/GetAppointments/@doctorId",
                success: function (data) {
                    $.each(data, function (i, v) {
                        appointments.push({
                            eventId: v.Id,
                            title: "Patient Appointment",
                            description: "aa",
                            start: moment(v.BookTime).format("YYYY-MM-DDTHH:mm:ss"),
                            end: moment(v.BookTime).add(1, "hours").format("YYYY-MM-DDTHH:mm:ss"),
                            isBooked: true,
                            color: "#666666",
                        });
                    });

                    initializeFullCalendar(appointments);
                },
                error: function (error) {
                    alert("Failed to get appointment data");
                }
            });

            function initializeFullCalendar(appointments) {
                var calendar = $("#calendar").fullCalendar({
                    defaultView: "month",
                    contentHeight: 600,
                    businessHours: true,
                    header: {
                        left: "month, agendaWeek, today",
                        center: "title",
                        right: "prevYear, prev, next, nextYear"
                    },
                    events: appointments,
                    eventClick: function (calEvent, jsEvent, view) {
                        if (view.name === 'agendaWeek') {
                            // If the current view is 'agendaWeek', redirect to event details page
                            window.location.href = '/Appointments/details/' + calEvent.eventId;
                        } else {
                            // If the current view is not 'agendaWeek', switch to 'agendaWeek' view
                            calendar.fullCalendar('changeView', 'agendaWeek');
                            calendar.fullCalendar('gotoDate', calEvent.start);
                        }
                    },
                    eventRender: function(eventObj, $el) {
                        // Check if the event is in the future
                        var currentTime = new Date();
                        if (eventObj.start >= currentTime) {
                            // Set a default color for future events
                            $el.css('background-color', '#2c6cbf');
                        }
                    }
                });
            }

        });
    </script>
}