@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" style="margin-bottom: 1rem">
        <img 
             srcset="~/Content/CTScan-320px.jpg 320w, ~/Content/CTScan-1024px.jpg 1024w, ~/Content/CTScan-640px.jpg 640w"
             sizes="(max-width: 320px) 320px, ((max-width: 640px) and (min-width: 321px)) 640px, 640px"
             src="~/Content/CTScan-320px.jpg"
             alt="CT Scan" 
         />
    </section>

    <div class="row" >
        <section class="col-md-4">

            <p><a class="btn btn-outline-dark" href="/Appointments/index">Book An Appointment</a></p>
        </section>

        <section class="col-md-4" >
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>