@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" style="margin-bottom: 1rem">
        <img 
             srcset="~/Content/CTScan-320px.jpg 320w, ~/Content/CTScan-1024px.jpg 1024w, ~/Content/CTScan-640px.jpg 640w"
             sizes="(max-width: 320px) 320px, ((max-width: 640px) and (min-width: 321px)) 640px, 640px"
             src="~/Content/CTScan-320px.jpg"
             alt="CT Scan" 
         />
    </section>

    <div class="row" >
        <section class="col-md-4">
            <p> Schedule your medical appointments now to ensure timely access to the treatment and care you require. </p>
            <p><a class="btn btn-outline-dark" href="/Appointments/index">Book An Appointment</a></p>
        </section>

        <section class="col-md-4" >
            <p>If you have any questions or need to consult with a doctor, feel free to reach out to our professional medical team.</p>
            <p><a class="btn btn-outline-dark" href="/Home/Contact">Contact Our Doctors</a></p>
        </section>

        <section class="col-md-4">
            <p>Browse our network of partner clinics to find the one nearest to you, making it easier to access medical services.</p>
            <p><a class="btn btn-outline-dark" href="/Clinics/index">View Available Clinics</a></p>
        </section>
    </div>
</main>